* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Maple Mono NF", "RobotoMono Nerd Font Propo", "Noto Nerd Font Propo";
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
    color: #d4be98;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left {
    padding: 2px 4px;
}

.modules-right {
    padding: 2px 4px;
}

#workspaces {
    border-top: 2px solid #282828;
}

#workspaces button {
    color: #d4be98;
    border-radius: 0;
    border-top: 2px solid #282828;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.urgent:hover,
#workspaces button.hidden:hover{
    color: #89b482;
    padding-top: 6px;
    border-top: 2px solid #89b482;
}

#workspaces button.active {
    border-top: 2px solid #7daea3;
}

#workspaces button.urgent {
    color: #ea6962;
    border-top: 2px solid #ea6962;
}

#workspaces button.hidden {
    color: #7c6f64;
    border: none;
}

#custom-power {
    color: #d4be98;
    background-color: #d3869b;
    padding-left: 4px;
    padding-right: 2px;
    border-radius: 4px;
    margin-right: 4px;
}

#custom-power:hover {
    color: #d3869b;
    background-color: #443840;
}

#clock {
    color: #d4be98;
    background-color: #7c6f64;
    border-radius: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 2px;
}

#cpu {
    color: #282828;
    background-color: #7daea3;
    border-radius: 4px;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

#cpu:hover {
    color: #7daea3;
    background-color: #374141;
}

#memory {
    color: #282828;
    background-color: #89b482;
    border-radius: 4px;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

#memory:hover {
    color: #89b482;
    background-color: #3b4439;
}

#custom-playerctl {
    color: #282828;
    background-color: #a9b665;
    border-radius: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 2px;
}

#custom-playerctl:hover {
    color: #a9b665;
    background-color: #3b4439;
}

#idle_inhibitor.deactivated {
    color: #282828;
    background-color: #d8a657;
    border-radius: 4px;
    padding-right: 2px;
    padding-left: 3px;
}

#idle_inhibitor.deactivated:hover {
    color: #d8a657;
    background-color: #4f422e;
}

#idle_inhibitor.activated {
    color: #d4be98;
    background-color: #e78a4e;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 1px;
}

#idle_inhibitor.activated:hover {
    color: #e78a4e;
    background-color: #4f422e;
}

#pulseaudio {
    color: #282828;
    background-color: #d8a657;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 4px;
    margin-right: 4px;
}

#pulseaudio:hover {
    color: #d8a657;
    background-color: #4f422e;
}

#backlight {
    color: #282828;
    background-color: #a9b665;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 5px;
    margin-right: 4px;
}

#backlight:hover {
    color: #a9b665;
    background-color: #3b4439;
}

#battery {
    color: #282828;
    background-color: #89b482;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 1px;
    margin-right: 4px;
}

#battery:hover {
    color: #89b482;
    background-color: #3b4439;
}

#battery.warning {
    color: #d4be98;
    background-color: #e78a4e;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 1px;
    margin-right: 4px;
}

#battery.warning:hover {
    color: #e78a4e;
    background-color: #4f422e;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ea6962
    }
}

#battery.critical:not(.charging) {
    color: #282828;
    background: #ea6962;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    color: #282828;
    background-color: #7daea3;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 4px;
}

#bluetooth:hover {
    color: #7daea3;
    background-color: #374141;
}

#network {
    color: #d4be98;
    background-color: #7c6f64;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 4px;
}

#network:hover {
    color: #7c6f64;
    background-color: #3c3836;
}

#custom-notification {
    color: #d4be98;
    background-color: #d3869b;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 5px;
}

#custom-notification:hover {
    color: #d3869b;
    background-color: #443840
}
